<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/moviles.css">
        <link rel="stylesheet" href="/css/style-blancos.css">
        <link rel="shortcut icon" href="/favicon/grapes.ico" type="image/x-icon">
        <title>Blancos Recomendados</title>
    </head>
    <body>
<!-- Menu Espumantes-------------------------------------------------->
        <header>
            <input type="checkbox" id="btn-menu">
            <div class="header">
                <label for="btn-menu"><img src="/img/Copa con Verde.png" alt="" width="30px" height="30px" id="fotoBtn"></label>
                <div class="div-menu">
                    <div class="Logo">
                        <a href="/index.html"><img src="/img/Grapes blancas.png" alt="Uvas" class="UvasLogo"></a>
                    </div>
                    <div class="html-menu"><a href="/html/tintos.html">Tintos</a></div>
                    <div class="html-menu"><a href="/html/blancos.html">Blancos</a></div>
                    <div class="html-menu"><a href="/html/espumantes.html">Espumantes</a></div>
                    <div class="html-menu"><a href="/html/contacto.html">Contacto</a></div>
                </div>
            </div>
        </header>
        <div class="contenedor">
                <div class="banner">
                    <div class="banner-nav" id="Top">
                        <div class="div-Copas-Especias">
                        <img src="/img/Especias en Copas blancos.png" alt="" class="Copas-Especias">
                        </div>
                    </div>
                    <div class="banner-nav-section">
                        <a href="#Zuccardi">Zuccardi</a>
                        <a href="#Valbona">Valbona</a>
                        <a href="#Luigi Bosca">Luigui Bosca</a>
                    </div>
                </div>
                <main class="main">
                    <section class="section-main">
                        <h1>Vino Blanco</h1>
                        <p>En la historia del vino, el vino blanco es un vino cuyo color puede ser amarillo 
                        pajizo, amarillo verdoso u oro amarillo. Es producido por la fermentación alcohólica 
                        de la pulpa de uvas que no son tintas, es decir, las uvas verdes, o que puede tener 
                        un tono de cualquier color. El vino blanco ha existido por al menos 2500 años.</p>
                        <p>En esta sección encontraras tres varietales recomendados para compartir.</p><br>
                        <h3>Como son sus variedades</h3><br>
                        <p>La gran variedad de vinos blancos proviene de la gran cantidad de variedades, 
                        métodos de vinificación y proporciones de azúcar residual. El vino blanco es 
                        principalmente de uvas «blancas», que son de color verde o amarillo, como el 
                        Chardonnay, el Sauvignon y el Riesling. Algunos vinos blancos también están 
                        hechos de uvas tintas, siempre que el mosto obtenido no esté manchado. 
                        Pinot noir, por ejemplo, que se usa comúnmente para producir champaña.</p>
                        <p>Entre las variedades que existen y tipos de vino blanco, el vino blanco 
                        seco es el más común. Más o menos aromático y ácido, se deriva de la fermentación 
                        completa del mosto. Los vinos dulces, por otro lado, se producen al interrumpir 
                        la fermentación antes de que todos los azúcares de la uva se conviertan en alcohol; 
                        a este proceso se le conoce comúnmente como Mutage o fortificación.</p><br>
                        <h3>Tipos de Fortificaciones</h3><br>
                        <p>Existen hoy en día numerosos métodos que cumplen el proceso de fortificar el 
                        mosto con los azucares necesarios, entre los que se conocen y se implementan 
                        con mayor frecuencia están: la maduración de la vid, el pastoreo, que de igual 
                        manera se le conoce como colado, o el uso de la podredumbre noble, que es un 
                        tipo de hongo que tiene la particularidad de mejorar la calidad del vino. Los vinos 
                        espumosos, que son en su mayoría blancos, son vinos donde el dióxido de carbono de 
                        la fermentación se mantiene disuelto en el vino y se convierte en gas cuando se 
                        abre la botella.</p><br>
                        <h3>Usos del Vino Blanco</h3><br>
                        <p>Los vinos blancos a menudo se usan como aperitivo antes de una comida, con postre 
                        o como una bebida refrescante entre comidas. Los vinos blancos a menudo se consideran 
                        más refrescantes y más ligeros tanto en estilo como en sabor que la mayoría de los otros 
                        vinos que no se le asemejan, es decir, los vinos tinto. Además, debido a su acidez, aroma 
                        y capacidad para ablandar la carne y desglasar los jugos de cocción, los vinos blancos se
                        utilizan a menudo en la cocina.
                        </p>
                        <article class="art-video">
                        <br><br>
                        <h2 class="tips">Tips para consumir Vino Blanco</h2>
                        <br>
                        <div class="video">
                            <iframe class="video2" src="https://www.youtube.com/embed/fGP6KSaVp-c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>         
                        </div>
                        </article>
                    </section>
        <!--Zuccardi ------------------------------------------------------------------>
                    <div class="Titulo-Zuccardi"><h1 class="Notas-Zuccardi">"Q Chardonnay" - Familia Zuccardi</h1></div>
                    <div class="box-Zuccardi1"><a name="Zuccardi"></a>
                        <img src="/img/Chardonay Q Zuccardi300px.png" alt="Q Chardonnay" class="img-Zuccardi">
                        <div class="iconosZuccardi">
                            <img src="/img/wine-glass.svg" alt="Copa" class="Copa">
                            <img src="/img/Termometro.png" alt="Temperatura" class="iconTemp">
                            <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d106131.14923526354!2d-69.22709533387734!3d-33.7710418596214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967c163807edf24f%3A0xd6f143d49784e077!2sZuccardi%20-%20Valle%20de%20Uco!5e0!3m2!1ses-419!2sar!4v1664744584824!5m2!1ses-419!2sar" target="_blank"><img src="/img/Mapa II.png" alt="Map" class="iconMap"></a>
                        </div>
                    </div>
                    <div class="box-Zuccardi2">
                        <div class="img-back-Zuccardi"></div>
                        <div class="text-Zuccardi">
                            <h3>Notas de degustación:</h3>
                            <p><b>Color: </b> Amarillo verdoso brillante de intensidad medio</p>
                            <p><b>Aroma: </b> Reminiscencia de aromas de frutas maduras, cítricos y frutas tropicales. Se pueden encontrar en este vino notas de duraznos blancos, pera, vainilla y algunas especias.</p>
                            <p><b>Sabor: </b> Sabrosa y fresca entrada en boca, con buena mineralidad y vibrante desarrollo para luego dar paso a untuosidad, graso y equilibrado final.</p>
                        </div>
                    </div>
                    <div class="hoja-Zuccardi"><a href='#Top' class="Top"><img src="/img/origin.svg" alt="Hoja" class="hoja"></a>
                    </div>
        <!--Valbona---------------------------------------------------------------->
                    <div class="Titulo-Valbona"><h1>"Moscatel Dulce" - Valbona</h1></div>
                    <div class="box-Valbona1"><a name="Valbona"></a>
                        <div class="img-back-Valbona"></div>
                        <div class="text-Valbona">
                            <h3>Notas de degustación:</h3>
                            <p><b>Color: </b> Amarillo suave con tonalidades verdosas.</p>
                            <p><b>Aroma: </b> Notas de miel y durazno , también a jazmines y azahar.</p>
                            <p><b>Sabor: </b> Buen equilibrio entre acidez y dulce, con una muy buena untuosidad producida por el azúcar natural.</p>
                        </div>
                    </div>
                    <div class="hoja-Valbona"><a href='#Top' class="Top"><img src="/img/origin.svg" alt="Hoja" class="hoja"></a></div>
                    <div class="box-Valbona2">
                        <div class="iconosValbona">
                            <img src="/img/wine-glass.svg" alt="Copa" class="Copa">
                            <img src="/img/Termometro.png" alt="Temperatura" class="iconTemp">
                            <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d217677.93633429066!2d-68.4995977846459!3d-31.518178708336254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96816a9fcb7c9adf%3A0xa0a1af538e3a8351!2sBodega%20Augusto%20Pulenta!5e0!3m2!1ses-419!2sar!4v1664743989048!5m2!1ses-419!2sar" target="_blank"><img src="/Img/Mapa II.png" alt="Map" class="iconMap"></a>
                        </div>
                        <img src="/img/Moscatel Valbona.jpg" alt="Moscatel Dulca Valbona" class="img-Valbona">
                    </div>
        <!-- Luigi Bosca ------------------------------------------------------------------->
                    <div class="Titulo-Bosca"><h1>"Sauvignon Blanc" - Luigi Bosca</h1></div>
                    <div class="box-Bosca1"><a name="Luigi Bosca"></a>
                        <img src="/img/Suavignon Blanc Luigi Bosca.png" alt="Bosca Suavignon Blanc" class="img-Bosca">
                        <div class="iconosBosca">
                            <img src="/img/wine-glass.svg" alt="Copa" class="Copa">
                            <img src="/img/Termometro.png" alt="Temperatura" class="iconTemp">
                            <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d107060.29983130684!2d-68.99379733628551!3d-33.013413824440356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967e753251ff0f53%3A0xac511fb6a24d038c!2sBodega%20Luigi%20Bosca%20-%20Familia%20Arizu!5e0!3m2!1ses-419!2sar!4v1664744262973!5m2!1ses-419!2sar" target="_blank"><img src="/img/Mapa II.png" alt="Map" class="iconMap"></a>
                        </div>
                    </div>
                    <div class="box-Bosca2">
                        <div class="img-back-Bosca"></div>
                        <div class="text-Bosca">
                            <h3>Notas de degustación:</h3>
                            <p><b>Color: </b> Amarillo verdoso con reflejos plateados.</p>
                            <p><b>Aroma: </b> A frutas tropicales, hierbas y minerales.</p>
                            <p><b>Sabor: </b> Refrescante acidez. Aterciopelado con largo final en boca.</p>
                        </div>
                    </div>
                    <div class="hoja-Bosca"><a href='#Top' class="Top"><img src="/img/origin.svg" alt="Hoja" class="hoja"></a>
                    </div>
                </main>
                <footer class="footer">
                    <div class="div-redes">
                        <a href="https://www.instagram.com" target="_blank"><img src="/img/Instagram II.png" alt="Instagram" class="logo-instagram">Instagram</a><br>
                        <a href="https://github.com/StevenSun7/Espumantes-Vinos.git" target="_blank"><img src="/img/GitHub IV.png" alt="GitHub" class="logo-github">GitHub</a><br>
                        <a href="https://twitter.com/i/flow/login" target="_blank"><img src="/img/Twitter II.png" alt="Twitter" class="logo-twitter">Twitter</a><br>
                        <a href="https://www.facebook.com" target="_blank"><img src="/img/Facebook I.png" alt="Facebook" class="logo-facebook">Facebook</a>
                    </div>
                    <br>
                    <div class="div-derechos"><p class="derechos">BEBER CON MODERACION | Prohibida la venta a menores de 18 años | Copyright © Septiembre 2022 | Todos los derechos reservados. | V4.0</p></div>
                </footer>
            </div>
</body>

</html>