<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/Templates/css/moviles.css">
        <link rel="stylesheet" href="/Templates/css/style-espumantes.css">
        <link rel="shortcut icon" href="/Templates/favicon/grapes.ico" type="image/x-icon">
        <title>Espumantes Recomendados</title>
    </head>
    <body>
        <header>
            <input type="checkbox" id="btn-menu">
            <div class="header">
                <label for="btn-menu"><img src="/img/Copa con dorado.png" alt="" width="30px" height="30px" id="fotoBtn"></label>
                <div class="div-menu">
                    <div class="Logo">
                        <a href="/Templates/index.html"><img src="/Templates/img/Grapes espumantes.png" alt="Uvas" class="UvasLogo"></a>
                    </div>
                    <div class="html-menu"><a href="/Templates/html/tintos.html">Tintos</a></div>
                    <div class="html-menu"><a href="/Templates/html/blancos.html">Blancos</a></div>
                    <div class="html-menu"><a href="/Templates/html/espumantes.html">Espumantes</a></div>
                    <div class="html-menu"><a href="/Templates/html/contacto.html">Contacto</a></div>
                </div>
            </div>
        </header>