<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block titulo %}Wine Club{% endblock titulo %}</title>
    {% block css %}{% endblock css %}
    </head>

    <body>
        <!-- Menu de navegacion -->
        {% block header %}
        {% include './header-index.html' %}
        {% endblock header %}
        
        {% block contenido %}{% endblock contenido %}
        
        {% block footer%}
        {% include './footer.html' %}
        {% endblock footer%}

        {% block javascript %}{% endblock javascript %}
    </body>
</html>