<!DOCTYPE html>
{% extends './base.html' %}
{% load static %}
<title>{% block titulo %}Contacto{% endblock titulo %}</title>

{% block css %}
<link rel="stylesheet" href="{% static '/wine/css/style-contacto.css' %}">
{% endblock css %}

{% block header %}
{% include './header-contacto.html' %}
{% endblock header %}

{% block contenido %}
<main class="main">
    <section class="contacto">
        <h1>Contactános</h1>
        <p>Dejanos tus sugerencias o consultas a través del formulario, y te contactaremos a la brevedad.</p>
        <p>Salud !!! 🍷</p>
    </section> 
    <div class="formulario">
        <form method="post" name="comprobacion">
            {% csrf_token %}
            <legend></legend>
            <label for="apellido" class="datos-form">Apellido: </label>
            {{ form.apellido  }}

            <label for="nombre" class="datos">Nombre:</label>
            {{ form.nombre }}           

            <label for="email" class="datos">Mail de contacto:</label>
            {{ form.email }}

            <label for="telefono" class="datos">Ingrese Telefono de Contacto:</label>
            {{ form.telefono }}

            <label for="motivoconsulta" class="datos">Motivo de la Consulta:</label>                    
            <select class="select" name="consulta" id="mconsulta">
                <option value="0">Seleccione</option>   
                <option value="1">Precios</option>   
                <option value="2">Vinos y Espumantes disponibles</option>   
                <option value="3">Informacion General</option>   
                <option value="4">Solicitar contacto directo</option>   
            </select>

            <label for="conmentarios" class="datos">Deje sus comentarios:</label>
            <textarea cols="40" rows="10" name="comentario" placeholder="Escriba su comentario"></textarea>

            <section class="enviar">
                <input class="botones" type="submit" id="b1" value="Enviar datos" onclick="checkEnviar()">
                <input class="botones" type="reset" value="Borrar datos">    
            </section>
        </form>
    </div>   
</main>
{% endblock contenido %}

{% block javascript %}
<script src="/static/wine/js/Corrobora.js"></script>
{% endblock javascript %}
{% comment %} El footer ya lo incluye porque indicamos al inicio del codigo que tome el ejemplo del archivo base.html {% endcomment %}