<!DOCTYPE html>
{% extends './base.html' %}
{% load static %}
<title>{% block titulo %}Espumantes{% endblock titulo %}</title>

{% block css %}
<link rel="stylesheet" href="{% static '/wine/css/style-espumantes.css' %}">
{% endblock css %}

<!-- Menu de navegacion -->
{% block header %}
{% include './header-espumantes.html' %}
{% endblock header %}

{% block contenido %}
<div class="contenedor">
    <div class="banner-burbujas">
        <div class="video-burbujas" id="Top">
            <video autoplay loop muted playsinline class="video-B">
                <source src="/static/wine/videos/Burbujas.mov" type="video/mp4">
            </video>
        </div class="end-video-burbujas">
        <div class="banner-nav-section">
            <a href="#Trapiche">Trapiche</a>
            <a href="#Luigui Bosca">Luigui Bosca</a>
            <a href="#Chandon">Chandon</a>
            <a href="#Nieto Senetiner">Nieto Senetiner</a>
        </div>
    </div>
    <main class="main">
        <section class="section-main">
            <h1>Que tener en cuenta a la hora de seleccionar un espumante:</h1>
            <p>Nature, Brut Nature y Extra Brut. Cada una de estas palabras hacen referencia a la cantidad de azúcar que es agregada a un espumante con el licor de expedición al finalizar su elaboración. Cuanto menos azúcar agregada lleve el espumante, tanto más seco será el producto final. En ese sentido, el Nature es el más seco, ya que contiene menos de 3 gramos de azúcar por litro. En la escala, le siguen el Brut Nature, con menos de 7 gramos. Este tipo de espumantes más secos, son muy refrescantes e ideales para todo aquel que evite las bebidas dulces. Ya cuando hablamos de Extra Brut nos referimos a que contiene entre 7 y 11 gramos de azúcar por litro, que es un buen punto medio entre dulzor y acidez. Y los espumantes Brut suelen tener entre 11 y 15 gramos de azúcar por litro, posicionándose dentro de los más dulces. Teniendo esto como guía, ya podemos escoger el espumante que vaya mejor con nuestro gusto, segъn el nivel de dulzura que nos sienta mejor en nuestra bebida.</p>
            <br>
            <p>En nuestro país se han desarrollado espumantes con otras uvas. Si bien la mayoría de los espumantes elaborados en Argentina están realizados con Chardonnay y Pinot Noir, también se lograron desarrollar espumantes de distintos estilos, pudiendo así también encontrar opciones elaboradas con uvas como Sauvignon Blanc, Semillon o Chenin, o uvas tintas como Malbec. Un ejemplo de este tipo de espumantes elaborados a partir de cepas novedosas es el Nieto Senetiner Brut Nature, elaborado con dos uvas tintas, Malbec y Pinot Noir, y que además es el Brut Nature más elegido por el consumidor argentino. De aromas frutados, se presenta fresco, intenso y con equilibrada acidez. Como dice Roberto González, enólogo de la bodega, ”es el primer espumante argentino elaborado 100% de uvas tintas y sentimos que hemos establecido un estilo único en cuanto al espumante argentino, que se ganá la confianza del consumidor y hoy es un referente a nivel local y mundial”.</p>
            <br>
            <p>La temperatura siempre es un factor fundamental a la hora de disfrutar de nuestras bebidas preferidas y los espumantes no son la excepción. Se recomienda servir bien frнo, a una temperatura de entre 5 y 8°, para evitar que pierdan sus matices aromáticos y su finura, por lo que debemos guardarlo en la heladera unas 4 o 5 horas antes de consumirlo en nuestras celebraciones.</p>
            <br>
            <p>El espumante es un producto muy versátil que puede acompañar tanto carnes, como pescados o pastas. Funciona como aperitivo, se puede disfrutar con postres y es el compañero ideal del sushi. A toda hora y en cualquier lugar. Para acompañar con carnes, se recomiendan espumantes con mayor estructura y más complejos y para comidas con carnes blancas, un excelente compañero puede ser un Brut Rosé. Para postres helados, tartas de frutas y chocolates, recomendamos disfrutar junto con un Grand Cuvée Extra Brut, que cautiva con su perfecta combinación entre aromas a levaduras, pan tostado, frutas confitadas y flores blancas.</p>
        </section>
        <!-- Trapiche -->
        <div class="Titulo-Trapiche"><h1 class="Notas-Trapiche">"Extra Brut" - Bodega Trapiche</h1></div>
        <div class="box-Trapiche1"><a name="Trapiche"></a>
            <img src="/static/img/TrapicheExtraBrut.png" alt="Trapiche Extra Brut"  class="img-Trapiche">
            <div class="iconosTrapiche">
                <img src="/static/img/WineGlass.svg" alt="Copa" class="Copa">
                <img src="/static/img/Termometro.png" alt="Temperatura" class="iconTemp">
                <a href="https://goo.gl/maps/oTpMuwSirtw2dzW18" target="_blank"><img src="/static/img/Mapa.png" alt="Map" class="iconMap"></a>
            </div>
        </div>
        <div class="box-Trapiche2">
            <div class="img-back-Trapiche"></div>
            <div class="text-Trapiche">
                <h3>Notas de degustación:</h3>
                <p>Intenso color amarillo verdoso. Aromas típicos del Chardonnay como la manzana y el ananá combinados con aquellos que provienen de las levaduras a través del contacto “sur lies”, como por ejemplo pan tostado. Fresco, de gran cuerpo y sabor persistente, gracias al aporte del Sémillon y el toque de Malbec.</p>
            </div>
        </div>
        <div class="hoja-Trapiche"><a href='#Top' class="Top"><img src="/static/img/Origin.svg" alt="Hoja" class="hoja"></a>
        </div>
        <!-- Luitgi Bosca -->
        <div class="Titulo-Luigi"><h1>"Bohème Brut Nature" - Bodega Luigi Bosca</h1></div>
        <div class="box-LuigiBosca1"><a name="Luigui Bosca"></a>
            <div class="img-back-LuigiBosca"></div>
            <div class="text-LuigiBosca">
                <h3>Notas de degustación:</h3>
                <p> Luigi Bosca Bohème Brut Nature es un espumoso de color dorado brillante. Sus aromas son delicados y elegantes, con notas que recuerdan a frutas blancas, frutos secos y pan tostado. En boca es vivaz y refrescante, de paladar franco y equilibrado, con burbujas finas y persistentes. Es de carácter complejo, con buena estructura y fineza en su paso por boca; un vino sofisticado concebido para celebrar momentos únicos.</p>
            </div>
        </div>
        <div class="hoja-Luigi"><a href='#Top' class="Top"><img src="/static/img/origin.svg" alt="Hoja" class="hoja"></a></div>
        <div class="box-LuigiBosca2">
            <div class="iconosLuigi">
                <img src="/static/img/WineGlass.svg" alt="Copa" class="Copa">
                <img src="/static/img/Termometro.png" alt="Temperatura" class="iconTemp">
                <a href="https://goo.gl/maps/szfEcW8kLSZPDLAC9" target="_blank"><img src="/static/img/Mapa.png" alt="Map" class="iconMap"></a>
            </div>
            <img src="/static/img/Boheme.png" alt="Luigi Bosca Extra Brut" class="img-LuigiBosca">
        </div>
        <!-- Chandon -->
        <div class="Titulo-Chandon"><h1>"Extra Brut" - Bodega Chandon</h1></div>
        <div class="box-Chandon1"><a name="Chandon"></a>
            <img src="/static/img/ChandonExtraBrut.png" alt="Chandon Extra Brut" class="img-Chandon">
            <div class="iconosChandon">
                <img src="/static/img/WineGlass.svg" alt="Copa" class="Copa">
                <img src="/static/img/Termometro.png" alt="Temperatura" class="iconTemp">
                <a href="https://goo.gl/maps/Jqv7kPmFyJismubz5" target="_blank"><img src="/static/img/Mapa.png" alt="Map" class="iconMap"></a>
            </div>
        </div>
        <div class="box-Chandon2">
            <div class="img-back-Chandon"></div>
            <div class="text-Chandon">
                <h3>Notas de degustación:</h3>
                <p> El gran clásico de Chandon. Las mejores uvas Chardonnay y Pinot Noir provienen de nuestras fincas. El Yaima y Caicayén (Valle de Uco) emplazadas entre los 1000 y 1200 msnm. Con sus suelos franco arenoso a limoso y marcada presencia de piedra caliza, nos permiten crear un espumoso fresco, frutado, elegante, cremoso y equilibrado. La cordillera de los Andes, actúa como barrera de los vientos húmedos provenientes del océano Pacífico, lo que convierte a Mendoza en un desierto en altura con clima continental. Las condiciones climáticas de estos terroirs y lagran amplitud térmica permiten que las uvas maduren lentamente al tiempo que conservan toda su acidez natural.</p>
            </div>
        </div>
        <div class="hoja-Chandon"><a href='#Top' class="Top"><img src="/static/img/Origin.svg" alt="Hoja" class="hoja"></a>
        </div>
        
        <!-- NIetro Senetiner -->
        <div class="Titulo-Nieto"><h1>"Brut Nature" - Nieto Senetiner </h1></div>
        <div class="box-NietoSenetiner1"><a name="Nieto Senetiner"></a>
            <div class="img-back-NietoSenetiner"></div>
            <div class="text-NietoSenetiner">
                <h3>Notas de degustación:</h3>
                <p> De ligero tono asalmonado, con burbujas pequeñas, que terminan en una corona fina y delicada de color blanca. De aromas complejos y frutados, con notas de frambuesa, praliné y pan tostado, fiel a la excelencia del Pinot Noir. En boca se presenta intenso, fresco y con equilibrada acidez, confirmando las notas frutadas y su elegante personalidad. </p>
            </div>
        </div>
        <div class="hoja-Nieto"><a href='#Top' class="Top"><img src="/static/img/Origin.svg" alt="Hoja" class="hoja"></a></div>
        <div class="box-NietoSenetiner2">
            <div class="iconosNieto">
                <img src="/static/img/WineGlass.svg" alt="Copa" class="Copa">
                <img src="/static/img/Termometro.png" alt="Temperatura" class="iconTemp">
                <a href="https://goo.gl/maps/JDavTK99dAxAEhUFA" target="_blank"><img src="/static/img/Mapa.png" alt="Map" class="iconMap"></a>
            </div>
            <img src="/static/img/NietoSenetinerBrutNatura.png" alt="Nieto SenetinerBrutNature" class="img-NietoSenetiner">
        </div>
    </main>
</div>
{% endblock contenido %}
{% comment %} El footer ya lo incluye porque indicamos al inicio del codigo que tome el ejemplo del archivo base.html {% endcomment %}