{% load static %}
<footer class="footer">
    <div class="div-redes">
        <a href="https://www.instagram.com" target="_blank"><img src="{% static 'img/Instagram.png' %}" alt="Instagram" class="logo-instagram">Instagram</a><br>
        <a href="https://github.com/StevenSun7/Espumantes-Vinos.git" target="_blank"><img src="{% static 'img/GitHub.png' %}" alt="GitHub" class="logo-github">GitHub</a><br>
        <a href="https://twitter.com/i/flow/login" target="_blank"><img src="{% static 'img/Twitter.png' %}" alt="Twitter" class="logo-twitter">Twitter</a><br>
        <a href="https://www.facebook.com" target="_blank"><img src="{% static 'img/Facebook.png' %}" alt="Facebook" class="logo-facebook">Facebook</a>
    </div>
    <br>
    <div class="div-derechos"><p class="derechos">BEBER CON MODERACION | Prohibida la venta a menores de 18 años | Copyright © Septiembre 2022 | Todos los derechos reservados. | V4.0</p></div>
</footer>