{% load static %}
<header>
    <input type="checkbox" id="btn-menu">
    <div class="header">
        <label for="btn-menu"><img src="{% static '/img/CopaMorado.png' %}" alt="" width="30px" height="30px" id="fotoBtn"></label>
        <div class="div-menu">
            <div class="Logo">
                <a href="{% url 'inicio' %}"><img src="{% static '/img/GrapesMoradas.png' %}" alt="Uvas" class="UvasLogo"></a>
            </div>
            <div class="html-menu"><a href="{% url 'tintos' %}">Tintos</a></div>
            <div class="html-menu"><a href="{% url 'blancos' %}">Blancos</a></div>
            <div class="html-menu"><a href="{% url 'espumantes' %}">Espumantes</a></div>
            <div class="html-menu"><a href="{% url 'contacto' %}">Contacto</a></div>
            <div class="html-menu"><a href="{% url 'login' %}">login</a></div>
        </div>
    </div>
</header>