<!DOCTYPE html>
{% extends './base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static '/wine/css/style-inicio.css' %}">
    <link rel="shortcut icon" href="{% static '/favicon/grapes.ico' %}" type="image/x-icon">
{% endblock css %}

{% block contenido %}
<div class="contenedor">
    <main class="main">
        <div class="img-barricas"><img src="{% static '/img/BarricasSalentein.jpg' %}" alt="Barricas"></div>
        <div class="banner-cards">
            <div class="card border-left-behind">
                <div class="shadow" style="--img: url('/static/img/card2.png')"></div>
                <div class="image background" style="--img: url('/static/img/fondocard2.png')"></div>
                <div class="image cutout" style="--img: url('/static/img/card2.png')"></div>
                <div class="text-cards">
                    <h2 class="h2-cards"><a href="{% url 'vinos' parametro='tinto' %}" class="link-cardT">Tintos !</a></h2>
                    <p class="p-cards">Recomendado de la semana.</p>
                </div>
            </div>
            <div class="card border-right-behind border-bottom-behind">
                <div class="shadow" style="--img: url('/static/img/card3.png')"></div>
                <div class="image background" style="--img: url('/static/img/fondocard3.png')" ></div>
                <div class="image cutout" style="--img: url('/static/img/card3.png')"></div>
                <div class="text-cards">
                <h2 class="h2-cards"><a href="{% url 'vinos' parametro='blanco' %}" class="link-cardB">Blancos !</a></h2>
                <p class="p-cards">Recomendado de la semana.</p>
                </div>
            </div>
            <div class="card border-left-behind">
                <div class="shadow" style="--img: url('/static/img/card1.png')"></div>
                <div class="image background" style="--img: url('/static/img/fondocard1.png')"></div>
                <div class="image cutout" style="--img: url('/static/img/card1.png')"></div>
                <div class="text-cards">
                <h2 class="h2-cards"><a href="{% url 'espumantes' %}" class="link-cardE">Espumantes !</a></h2>
                <p class="p-cards">Recomendado de la semana.</p>
                </div>
            </div>
        </div>
        <div class="reloj">
            <p>{{hoy|date:"d-m-Y h:i:s"}}</p>
        </div>
    </main>
</div>
{% endblock contenido %}
{% block javascript %}
<script src="/static/wine/js/cardsindex.js"></script>
{% endblock javascript %}
{% comment %} El footer ya lo incluye porque indicamos al inicio del codigo que tome el ejemplo del archivo base.html {% endcomment %}