<!DOCTYPE html>
{% extends './base.html' %}
{% block titulo %} Tintos {% endblock titulo %} 
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static '/wine/css/moviles.css' %}">
<link rel="stylesheet" href="{% static '/wine/css/style-tintos.css' %}">
<link rel="shortcut icon" href="{% static '/favicon/grapes.ico' %}" type="image/x-icon">
{% endblock css %}
{% block contenido %}
{% include './header-tintos.html' %}
<div class="contenedor">
    <div class="banner">
        <div class="banner-nav">
            <div class="img-banner"><img src="{% static '/img/VinosTintosEspeciasCopas.png' %}" alt="Copas con especias"></div>
            <div class="banner-nav-section">
                <a href="#Los Dragones">Los Dragones</a>
                <a href="#Catena Zapata">Catena Zapata</a>
                <a href="#San Huberto">San Huberto</a>
            </div>
        </div>
    </div>
    <main class="main">
        <section class="section-tabla">
            <table class="tabla">
                <thead>
                    <tr>
                        <th id="tabla-columna1">Bodega</th>
                        <th id="tabla-columna2">Descripci&oacute;n</th>
                        <th id="tabla-columna3">Precio</th>
                    </tr>
                </thead>
                <tbody>
                    {% for valor in precios %}
                    <tr>
                        <td>{{ valor.id_producto.bodega }}</td>
                        <td>{{ valor.id_producto.nombre }}</td>
                        <td style="text-align: right;">{{ valor.precio}} <span>+</span></td>

                    </tr>
    
                    {% endfor%}

                </tbody>


            </table>
            

        </section>
        
    </main>
</div>

{% endblock contenido %}