<!DOCTYPE html>
{% extends './base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static '/wine/css/style-tintos.css' %}">
<link rel="stylesheet" href="{% static '/wine/css/style-tintos-cards.css' %}">
<link rel="shortcut icon" href="{% static '/favicon/grapes.ico' %}" type="image/x-icon">
{% endblock css %}
{% block contenido %}
{% include './header-tintos.html' %}
<div class="contenedor">
    <div class="banner">
        <div class="banner-nav">
            <div class="img-banner"><img src="{% static '/img/VinosTintosEspeciasCopas.png' %}" alt="Copas con especias"></div>
            <div class="banner-nav-section">
                <a href="#Los Dragones">Los Dragones</a>
                <a href="#Catena Zapata">Catena Zapata</a>
                <a href="#San Huberto">San Huberto</a>
            </div>
        </div>
    </div>
    <main class="main">
        <div class="wrapper">
            <div class="row">
                <div class="card">
                    <div class="image">
                        <img src="/static/img/Boheme.png" class="imgcard1">
                    </div>
                    <span class="productname">Norton</span>
                    <span class="author">Tempranillo</span>
                    <span class="rating">
                        <i class="fas fa-star">⭐️</i>
                        <i class="fas fa-star">⭐️</i>
                        <i class="fas fa-star">⭐️</i>
                        <i class="fas fa-star">⭐️</i>
                        <i class="fas fa-star"></i>
                    </span>
                    <span class="description">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do...</span>
                    <span class="beforePrice">4200</span>
                    <span class="nowPrice">$3800</span>
                    <button>Add to cart</button>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="" class="imgcard2">
                    </div>
                    <span class="productname">Chandon</span>
                    <span class="author">Espumante</span>
                    <span class="rating">
                        <i class="fas fa-star">⭐️</i>
                        <i class="fas fa-star">⭐️</i>
                        <i class="fas fa-star">⭐️</i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </span>
                    <span class="description">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do...</span>
                    <span class="beforePrice">$1850</span>
                    <span class="nowPrice">$1180</span>
                    <button>Add to cart</button>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="" class="imgcard3">
                    </div>
                    <span class="productname">Lugi Bosca</span>
                    <span class="author">Suavignon Blanc</span>
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star">⭐️</i>
                        <i class="fas fa-star">⭐️</i>
                        <i class="fas fa-star">⭐️</i>
                    </div>
                    <span class="description">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do...</span>
                    <span class="beforePrice">$4250</span>
                    <span class="nowPrice">$3180</span>
                    <button>Add to cart</button>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="" class="imgcard4">
                    </div>
                    <span class="productname">Trapiche</span>
                    <span class="author">Espumante</span>
                    <span class="rating">
                        <i class="fas fa-star">⭐️</i>
                        <i class="fas fa-star">⭐️</i>
                        <i class="fas fa-star">⭐️</i>
                        <i class="fas fa-star">⭐️</i>
                        <i class="fas fa-star">⭐️</i>
                    </span>
                    <span class="description">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do...</span>
                    <span class="beforePrice">$7250</span>
                    <span class="nowPrice">$6180</span>
                    <button>Add to cart</button>
                </div>
            </div>
            <div class="row">
            <div class="card">
                <div class="image">
                    <img src="" class="imgcard1">
                </div>
                <span class="productname">Norton</span>
                <span class="author">Tempranillo</span>
                <span class="rating">
                    <i class="fas fa-star">⭐️</i>
                    <i class="fas fa-star">⭐️</i>
                    <i class="fas fa-star">⭐️</i>
                    <i class="fas fa-star">⭐️</i>
                    <i class="fas fa-star"></i>
                </span>
                <span class="description">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do...</span>
                <span class="beforePrice">4200</span>
                <span class="nowPrice">$3800</span>
                <button>Add to cart</button>
            </div>
            <div class="card">
                <div class="image">
                    <img src="" class="imgcard2">
                </div>
                <span class="productname">Chandon</span>
                <span class="author">Espumante</span>
                <span class="rating">
                    <i class="fas fa-star">⭐️</i>
                    <i class="fas fa-star">⭐️</i>
                    <i class="fas fa-star">⭐️</i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </span>
                <span class="description">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do...</span>
                <span class="beforePrice">$1850</span>
                <span class="nowPrice">$1180</span>
                <button>Add to cart</button>
            </div>
            <div class="card">
                <div class="image">
                    <img src="" class="imgcard3">
                </div>
                <span class="productname">Lugi Bosca</span>
                <span class="author">Suavignon Blanc</span>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star">⭐️</i>
                    <i class="fas fa-star">⭐️</i>
                    <i class="fas fa-star">⭐️</i>
                </div>
                <span class="description">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do...</span>
                <span class="beforePrice">$4250</span>
                <span class="nowPrice">$3180</span>
                <button>Add to cart</button>
            </div>
            <div class="card">
                <div class="image">
                    <img src="" class="imgcard4">
                </div>
                <span class="productname">Trapiche</span>
                <span class="author">Espumante</span>
                <span class="rating">
                    <i class="fas fa-star">⭐️</i>
                    <i class="fas fa-star">⭐️</i>
                    <i class="fas fa-star">⭐️</i>
                    <i class="fas fa-star">⭐️</i>
                    <i class="fas fa-star">⭐️</i>
                </span>
                <span class="description">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do...</span>
                <span class="beforePrice">$7250</span>
                <span class="nowPrice">$6180</span>
                <button>Add to cart</button>
            </div>
        </div>
        <section class="section-tabla">
            <table class="tabla">
                <thead>
                    <tr>
                        <th id="tabla-columna1">Bodega</th>
                        <th id="tabla-columna2">Descripci&oacute;n</th>
                        <th id="tabla-columna3">Precio</th>
                    </tr>
                </thead>
                <tbody>
                    {% for valor in precios %}
                    <tr>
                        <td>{{ valor.id_producto.bodega }}</td>
                        <td>{{ valor.id_producto.nombre }}</td>
                        <td style="text-align: right;">{{ valor.precio}} <span>+</span></td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
        </section>
    </main>
</div>

{% endblock contenido %}