<!DOCTYPE html>
{% extends './base.html' %}
{% load static %}
<title>{% block titulo %}Tintos{% endblock titulo %}</title>

{% block css %}
<link rel="stylesheet" href="{% static '/wine/css/style-tintos.css' %}">
<link rel="stylesheet" href="{% static '/wine/css/style-tintos-cards.css' %}">
{% endblock css %}

{% block header %}
{% include './header-tintos.html' %}
{% endblock header %}

{% block contenido %}
<div class="contenedor">
    <div class="banner">
        <div class="banner-nav">
            <div class="img-banner"><img src="{% static '/img/VinosTintosEspeciasCopas.png' %}" alt="Copas con especias"></div>
            <div class="banner-nav-section">
                <a href="#Los Dragones">Los Dragones</a>
                <a href="#Catena Zapata">Catena Zapata</a>
                <a href="#San Huberto">San Huberto</a>
            </div>
        </div>
    </div>
    <main class="main">
        <section class="section-main">
            <h1>El tinto y su magia.</h1>
            <p> El vino es un estimulo para pasarla bien (siempre con moderación). No hace falta ser un entendido para disfrutralo. 
            Lo más comun es en una reunion con amigos dar los primeros pasos, y probar nuestros primeros sorbos.</p>
            <p>Una buena forma de empezar es combinarlo con los alimentos. Casi una regla es consumir vino  tinto con carnes.</p>
            <p>En esta sección encontrarás tres varietales que consideramos interesantes para todos aquellos que quieran disfrutar de momentos 
            inolvidables acompañados de sabores, y aromas.</p>
            <br>
            <article class="art-video">
            <div class="Video">
                <h3>Tips para servir el vino</h3>
                <iframe class="Video-Tinto" src="https://www.youtube.com/embed/_RZg5uCLt3c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            </article>
            <section class="wrapper">
                {% for valor in precios %}
                {% if forloop.counter0|divisibleby:4 %}
                <div class="row">
                {% endif %}
                <div class="card">
                    <div class="image">
                    <img src="{% static '/img/' %}{{ valor.imagen }}" class="imgcard1" />
                    </div>
                    <span class="productname">{{ valor.nombre }}</span><br>
                    <span class="author">{{ valor.bodega }}</span><br>
                    <span class="rating">
                    <i class="fas fa-star">⭐️</i>
                    <i class="fas fa-star">⭐️</i>
                    <i class="fas fa-star">⭐️</i>
                    <i class="fas fa-star">⭐️</i>
                    <i class="fas fa-star"></i>
                    </span>
                    <span class="description"></span><br>
                    <span class="beforePrice">{{ valor.id_precio.precio}}</span>
                    <span class="nowPrice">{{ valor.id_precio.desc_xcaja}}</span>
                    <button>Add to cart</button>
                </div>
                {% if forloop.counter0|add:"1"|divisibleby:4 %}
                </div>
                {% endif %}
                {% endfor %}
            </section>
        </section>
        <!-- Dragones -->
        <div class="Titulo-Dragones"><h1 class="Notas-Dragones">"Los Dragones" - Bodega Los Dragones</h1></div>
        <div class="box-Dragones1"><a name="Los Dragones"></a>
            <img src="{% static '/img/SyrahDragones.jpg' %}" alt="Los Dragones"  class="img-Dragones">
            <div class="iconosDragones">
                <img src="{% static '/img//WineGlass.svg' %}" alt="Copa" class="Copa">
                <img src="{% static '/img//Termometro.png' %}" alt="Temperatura" class="iconTemp">
                <a href="https://goo.gl/maps/PR2CkmEZvkrSU7TJ9" target="_blank"><img src="{% static '/img/Mapa.png' %}" alt="Map" class="iconMap"></a>
            </div>
        </div>
        <div class="box-Dragones2">
            <div class="img-back-Dragones"></div>
            <div class="text-Dragones">
                <h3>Notas de degustación:</h3>
                <p>De la Región de San Juan traemos este este varietal Syrah. 100% agroecológico. Aroma mineral de flores y fruta fresca, amable pero vibrante.</p>
            </div>
        </div>
        <div class="hoja-Dragones"><a href='#Top' class="Top"><img src="{% static '/img/Origin.svg' %}" alt="Hoja" class="hoja"></a>
        </div>
        <!-- Catena -->
        <div class="Titulo-Catena"><h1>"Catena Zapata Malbec" - Bodega Catena Zapata</h1></div>
            <div class="box-Catena1"><a name="Catena Zapata"></a>
                <div class="img-back-Catena"></div>
                <div class="text-Catena">
                    <h3>Notas de degustación:</h3>
                    <p>Este Malbec presenta un profundo e intenso color violeta. Su aroma remite a cassis, moca, clavo de olor y marcadas notas terrosas. Elaborado en la region de Mendoza, es el compañero ideal para platos con carnes rojas.</p>
                </div>
        </div>
        <div class="hoja-Catena"><a href='#Top' class="Top"><img src="{% static '/img/Origin.svg' %}" alt="Hoja" class="hoja"></a></div>
        <div class="box-Catena2">
            <div class="iconosCatena">
                <img src="{% static '/img/WineGlass.svg' %}" alt="Copa" class="Copa">
                <img src="{% static '/img/Termometro.png' %}" alt="Temperatura" class="iconTemp">
                <a href="https://goo.gl/maps/gZ2kKacec97sNiLv7" target="_blank"><img src="{% static '/img/Mapa.png' %}" alt="Map" class="iconMap"></a>
            </div>
            <img src="{% static '/img/MalbecCatena.jpg' %}" alt="Luigi Bosca Extra Brut" class="img-Catena">
        </div>
        <!-- San Huberto -->
        <div class="Titulo-Huberto"><h1>"Nina" de Bodega San Huberto</h1></div>
        <div class="box-Huberto1"><a name="San Huberto"></a>
            <img src="{% static '/img/Nina.jpg' %}" alt="Nina San Huberto" class="img-Huberto">
            <div class="iconosHuberto">
                <img src="{% static '/img/WineGlass.svg' %}" alt="Copa" class="Copa">
                <img src="{% static '/img//Termometro.png' %}" alt="Temperatura" class="iconTemp">
                <a href="https://goo.gl/maps/H63c1XuojHq4vFt17" target="_blank"><img src="{% static '/img/Mapa.png' %}" alt="Map" class="iconMap"></a>
            </div>
        </div>
        <div class="box-Huberto2">
            <div class="img-back-Huberto"></div>
            <div class="text-Huberto">
                <h3>Notas de degustación:</h3>
                <p>De gran riqueza aromática con frutos rojos y arandanos. Mineral, en pleno equilibrio. Notas de chocolate y vainilla. Desde la region de La Rioja. La famosa critica de vino Jancis Robinson, destaco este varietal Petit Verdot incluso por encima de muchas bodegas de Burdeos. Se recomienda consumirlo con comidas tales como carnes rojas, quesos curados y guisos de ave.</p>
            </div>
        </div>
        <div class="hoja-Huberto"><a href='#Top' class="Top"><img src="{% static '/img/Origin.svg' %}" alt="Hoja" class="hoja"></a>
        </div>
    </main>
</div>
{% endblock contenido %}
{% comment %} El footer ya lo incluye porque indicamos al inicio del codigo que tome el ejemplo del archivo base.html {% endcomment %}